# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_NAME=splanngo
DATABASE_USER=splanngo
DATABASE_PASSWORD=splanngo
DATABASE_PORT=3306
DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@mysql:${DATABASE_PORT}/${DATABASE_NAME}"
JWT_SECRET="4l2gy+rqxrRSAF/5cAWGvXnXGUyk8ITaqRC7+sGTtII="
BACKEND_BASE_URL=http://localhost:3900
PORT=3900